<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= i18n.code %>">

<head>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="stylesheet" href="jackson.css" type="text/css" />
</head>

<body>
	<div class="chapter type-1">
		<div class="chapter-title-wrap">
			<h3 class="chapter-number"></h3>
			<h2 class="chapter-title"><%= title %></h2>
		</div>
		<div class="ugc chapter-ugc">
            <% if (Array.isArray(content)) { %>
                <% content.forEach(function(item){ %>
                    <p class="indent"><%= item %></p>
                <% }); %>
            <% } else { %>
                <%- content %>
            <% } %>
		</div>
	</div>
</body>

</html>
