<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= i18n.code %>">

<head>
	<title><%= i18n.toc %></title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="stylesheet" href="jackson.css" type="text/css" />
</head>

<body>
	<div id="toc">
		<h1><%= i18n.toc %></h1>
		<ul>
            <% pages.forEach(function(page, index) { %>
                <li class="chaptertype-1">
                    <a href="page-<%= index %>.html">
                        <span class="toc-chapter-title"><%= page.title %></span>
                    </a>
                </li>
            <% }); %>
		</ul>
	</div>
</body>

</html>
